# Directives are registered in the order they should be executed.
#
# Ordering is VERY important. Every plugin will feel the effects of all other
# plugin below (after) them during a request, but they must not care what plugin
# above them are doing.
#
# Uptick the version here to force CoreDNS to rebuild
# Version 5

bind:bind
debug:debug
errors:errors
log:log
acl:acl
hosts:hosts
rewrite:rewrite
redis:github.com/OrbitLab-OSS/coredns-redis
forward:forward