name: lint-and-test

# yamllint disable-line rule:truthy
on: [pull_request]

env:
  PANTS_CONFIG_FILES: pants.ci.toml

jobs:
  build:
    name: PR
    runs-on: ubuntu-latest

    permissions:
      contents: write

    strategy:
      fail-fast: false
      matrix:
        appliance:
          - backplane-dns
          - gateway
          - relay
          - dockfs
          - etcd
          - datacore

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set version
        id: version
        run: |
          if [[ "$GITHUB_REF_TYPE" == "tag" ]]; then
            VERSION="${GITHUB_REF_NAME#v}"
          else
            VERSION="$(git describe --tags --abbrev=0 | sed 's/^v//')"
          fi
          echo "VERSION=$VERSION" >> "$GITHUB_ENV"
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Configure Pants caching to GitHub Actions Cache
        uses: actions/github-script@v6
        with:
          script: |
            core.exportVariable('PANTS_REMOTE_STORE_ADDRESS', process.env.ACTIONS_CACHE_URL);
            core.exportVariable('PANTS_REMOTE_OAUTH_BEARER_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN);

      - name: Install Pants
        run: curl --proto '=https' --tlsv1.2 -fsSL https://static.pantsbuild.org/setup/get-pants.sh | bash

      - name: Pants Lint ${{ matrix.appliance }}
        run: pants lint all

      - name: Pants Test ${{ matrix.appliance }}
        run: pants test all

      - name: Pants Build ${{ matrix.appliance }}
        run: pants run ${{ matrix.appliance }}:build
